<h1>Question asked displayed here</h1>

<h3>Random Answer Displayed here</h3>

<p>Shake Again (reloads page to get a new random answer)</p>

<h3>Enter a new Question (Link back to users/index)</h3>