<h1>Create an Answer List </h1>

<form action="/answerlists/new" method="post">


    <input type="text" placeholder="Name of Answer List" name="name" required>
    <br>
    <input type="submit" value="Create List">

    <br><input type="text" placeholder="Add an Answer HERE" name="1" maxlength="25" required>
    <br><input type="text" placeholder="Add an Answer HERE" name="2" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="3" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="4" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="5" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="6" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="7" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="8" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="9" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="10" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="11" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="12" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="13" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="14" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="15" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="16" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="17" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="18" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="19" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="20" maxlength="25">
    <br>
    <input type="submit" value="Create List">
    
    <p><a href="/answerlists">GO BACK</a></p>

</form>