<h1>Create an Answer List </h1>

<form action="/answerlists" method="POST">

    <input type="submit" value="Create List">
    <br>
    <input type="text" placeholder="Name of Answer List" name="list_name" required>
    <br>
    <%# use a for loop %>
    <% counter = 0%>
    <% while counter < 20 %>
        <%if counter < 1%>
            <br><input type="text" placeholder="Add an Answer HERE" name="answers[]" maxlength="25" required>
        <% else %>
            <br><input type="text" placeholder="Add an Answer HERE" name="answers[]" maxlength="25">
        <% end %>
        <% counter += 1%>
    <% end %>
    <br>
    <input type="submit" value="Create List">

</form>