<h1>Create an Answer List </h1>

<form action="/answerlists" method="post">

    <input type="submit" value="Create List">
    <br>
    <input type="text" placeholder="Name of Answer List" name="name" required>
    <br>
    <br><input type="text" placeholder="Add an Answer HERE" name="ans1" maxlength="25" required>
    <br><input type="text" placeholder="Add an Answer HERE" name="ans2" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans3" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans4" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans5" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans6" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans7" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans8" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans9" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans10" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans11" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans12" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans13" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans14" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans15" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans16" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans17" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans18" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans19" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="ans20" maxlength="25">
    <br>
    <input type="submit" value="Create List">

</form>