<h1>Create an Answer List </h1>

<form action="/answerlists" method="POST">

    <input type="submit" value="Create List">
    <br>
    <input type="text" placeholder="Name of Answer List" name="list_name" required>
    <br>
    <%# use a for loop %>
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25" required>
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br><input type="text" placeholder="Add an Answer HERE" name="answer" maxlength="25">
    <br>
    <input type="submit" value="Create List">

</form>