<h1>Create an Answer List </h1>

<form action="/new_list" method="post">

    <input type="text" placeholder="Name of Answer List" name="name">
    <br>
    <input type="text" placeholder="answer 1" name="1">
    <input type="text" placeholder="answer 2" name="2">
    <input type="text" placeholder="answer 3" name="3">
    <input type="text" placeholder="answer 4" name="4">
    <input type="text" placeholder="answer 5" name="5">
    <input type="text" placeholder="answer 6" name="6">
    <input type="text" placeholder="answer 7" name="7">
    <input type="text" placeholder="answer 8" name="8">
    <input type="text" placeholder="answer 9" name="9">
    <input type="text" placeholder="answer 10" name="10">
    <input type="text" placeholder="answer 11" name="11">
    <input type="text" placeholder="answer 12" name="12">
    <input type="text" placeholder="answer 13" name="13">
    <input type="text" placeholder="answer 14" name="14">
    <input type="text" placeholder="answer 15" name="15">
    <input type="text" placeholder="answer 16" name="16">
    <input type="text" placeholder="answer 17" name="17">
    <input type="text" placeholder="answer 18" name="18">
    <input type="text" placeholder="answer 19" name="19">
    <input type="text" placeholder="answer 20" name="20">

    <input type="submit" value="Create List">
    
    <p><a href="/answerlists">GO BACK</a></p>

</form>