 <h2>Answer Lists</h2>

<h3><b>SELECTED LIST DISPLAYS HERE</b></h3>
<ul>
   <p><a href="/answerlists/traditional">Traditional Eight Ball</a></p>

    <p><a href="/answerlists/new">Create a new list?</a></p>

</ul>
