<h2>Update, Create, or Delete an Answer List</h2>

<p><a href="/answerlists/new">Create a new list?</a></p>

<p>if user has custom lists show: "Select a List to Update or Delete"</P>
<ol>
<li>Display Magic Eight Ball as the default list and has hard coded answers</li>
<li>Interate through the current accounts answer lists 
and list each individually with href link so they can be updated</li>
<li>If no lists state no custom lists</li>
</ol>