 <h2>Answer Lists</h2>

<h3><b>SELECTED LIST DISPLAYS HERE</b></h3>
<form action="/answer" method="POST">
    <input type="hidden" name="_method" value="select">
    <input type="submit" value="SELECT LIST">
</form><br>

<form action=" " method="POST">
    <input type="hidden" name="_method" value="update">
    <input type="submit" value="UPDATE LIST">
</form><br>

<form action=" " method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE LIST">
</form><br>

<p><a href="/lists/new">Create a new list?</a></p>
