 <h2>Answer Lists</h2>

<h3><b>SELECTED LIST DISPLAYS HERE</b></h3>


<form action=" " method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE LIST">
</form><br>

<p><a href="/answerlists/new">Create a new list?</a></p>
