<h2>Update, Create, or Delete an Answer List</h2>

<p><a href="/answerlists/new">Create a new list?</a></p>

<ol>

    <li>Display Magic Eight Ball as the default list and has hard coded answers</li>
    <br>
    <p>Select a List Below to Update or Delete (this line shows if current_account.answer_lists > 1)</p>

    <li>Interate through the current accounts answer lists 
    and list each individually with href link so they can be updated or deleted</li>

</ol>
