 <h2>Answer Lists</h2>

<h3><b>SELECTED LIST DISPLAYS HERE</b></h3>
<ul>
   
    <li><a href="/answerlists/traditional">Traditional Eight Ball</a></li>

    <li><a href="/answerlists/new">Create a new list?</a></li>

</ul>
