<h2>Update, Create, or Delete an Answer List</h2>

<p><a href="/answerlists/new">Create a new list?</a></p>

<% if @user.answer_lists.size > 1 %>
<p>Select a List Below to Update or Delete</p>
<% end %>

<ol>
    <% @user.answer_lists.each do |list|%>
        <li><a href ='/answerlists/:id/update'><%= list.list_name %> </a></li>
    <% end %>
</ol>
