<h1>Update or Delete your Answer List</h1>

<form action="/answerlists/ANSWER LIST ID" method="POST"> 
    <input type="hidden" name="_method" value="PATCH">
    
    <input type="submit" value="Update List">
    <br>
    <input type="text" name="Name of Answer List" value="list_name" required>
   
    <% counter = 0%>
    <% while counter < 20 %>
        <%if counter < 1%>
            <br><input type="text" placeholder="Add an Answer HERE" name="answers[]" maxlength="25" required>
        <% else %>
            <br><input type="text" placeholder="Add an Answer HERE" name="answers[]" maxlength="25">
        <% end %>
        <% counter += 1%>
    <% end %>
    <br>
    <input type="submit" value="Update List">

    <p><a href="/answerlists">GO BACK</a></p>
</form>

<form action="/answerlists/<%= %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE LIST">
</form><br>