<h1>Update your list here</h1>
<h2>Name of List</h2>

<form action=" " method="POST"> 
    <input type="hidden" name="_method" value="patch">
    


    <input type="submit" id="Update List">

</form>