<br>
<h1>Magic Eight Ball</h1>
<form action="/users/:id/answer" method="POST">
    <textarea name="question" placeholder="Enter your question here" rows="4" cols="50"></textarea>
    
    <br>
    <input type="submit" value="SHAKE THE EIGHT BALL">

</form>

<h3>ANSWER LIST TITLE <a href="/answerlists"> [Change List] </a></h3>