<h1> What is your question? </h1>
<form action="/answer" method="POST">
    <textarea name="question" placeholder="Type your question here" rows="4" cols="50"></textarea>
    
    <br>
    <input type="submit" value="SHAKE THE EIGHT BALL">

</form>

<p><a href="/answerlists">Answer List Name (create or choose a list) </a></p>
