<br>
<h1>Magic Eight Ball</h1>

<form action="/answer" method="POST">
    
    <textarea name="question" placeholder="Enter your question here" rows="4" cols="50"></textarea>
    
    <br>
    <label>Choose your answer list:</label>
    <select name="list_name" >
            <option value="default" selected> Magic Eight Ball </option>
        <% @user.answer_lists.each do |list|%>
            <option value="<%= list.list_name %>"><%= list.list_name %></option>
        <% end %>
    </select>
   
    <br><br>
    <input type="submit" value="SHAKE THE EIGHT BALL">

</form>

<br>
<p><a href="/answerlists"> [Update or Create a New List] </a><p>