<h1>Magic Eight Ball</h1>

<br>
<form action="/create_account" method="POST">

    <input type="text" placeholder="Name" name="username" required>
    <br><br>
    <input type="email" placeholder="Email" name="email">
    <br><br>
    <input type="password" placeholder="Password" name="password">
    <br><br>
    <input type="submit" value="Create Account"><br>

    <br>
    <small>Already have an Account?</small><br>
    <small><a href="/login"> LOGIN </a></small>
</form>