<h1><%= @question %>?</h1>

<%# binding.pry %>
<% if @answer.nil? %>
    <h3> <%= @default %>
<% else %>
    <h3> <%= @answer.content %> </h3>
<% end %>

<br><br>
<button onClick="window.location.reload();">SHAKE AGAIN</button>

<br>
<p><a href="/ask_the_eightball">ASK A NEW QUESTION</a></p>