<h1><%= @question %>?</h1>

<h3> <%= @answers.content %> </h3>

<button onClick="window.location.reload();">SHAKE AGAIN</button>

<br>
<p><a href="/ask_the_eightball">ASK A NEW QUESTION</a></p>