<h1>Login</h1>
<br>
<form action="/login" method="POST">
    
    <label>Email</label> 
    <input type="email" name="email">

    <label>Password</label>
    <input type="password" name="password">
    <br>

</form>
<br>