<h1>Login</h1>
<br>
<form action="/login" method="POST">
    
    <label>Email</label> 
    <input type="email" name="email">

    <label>Password</label>
    <input type="password" name="password">
    
    <input type="submit" value="Login"><br>

    <br>

    <small><a href="/create_account"> CREATE ACCOUNT </a></small>

</form>