<!DOCTYPE html>
    <head>
        <title> Magic Eight Ball v1 </title>
    </head>

    <body>
        <div>
          
            <%= yield %>

            <footer>
                <br><br>
                 <small><a href="/logout">LOG OUT [ Username goes HERE ]</a>
                &copy;2020 MagicEightBallv1</small>
            </footer>

        </div>

    </body> 

</html>