<!DOCTYPE html>
    <head>
        <title> Magic Eight Ball v1 </title>
    </head>

    <body>
        <div>
            <% if logged_in?%>
                <b><a href="/ask_the_eightball">HOME</a></b>
                <b><a href="/answerlists">LISTS</a></b>
                <b><a href="/answerlists/new">CREATE</a><b>
            <% end %>

            <%= yield %>

            <footer>
                <br><br>
                
                <% if logged_in? %>
                    <small><b><a href="/logout">LOG OUT [ <%= @user.username %> ]</a></b></small>
                <% end %>
                <small><b> &copy;2020 MagicEightBallv1 </b></small>

            </footer>

        </div>

    </body> 

</html>