<!DOCTYPE html>
    <head>
        <title> Magic Eight Ball v1 </title>
    </head>

    <body>
        <div>
          
            <%= yield %>

            <footer>
             <small><a href="/logout">LOG OUT [<%= @user.username %>]</a></small>
             <small>&copy;2020 MagicEightBallv1</small>
            </footer>

        </div>

    </body> 

</html>