<!DOCTYPE html>
    <head>
        <title> Magic Eight Ball v1 </title>
    </head>

    <body>
        <div>
          
            <%= yield %>

            <footer>
                <br>
                
                <% if @user %>
                    <small><a href="/logout">LOG OUT [ <%= @user.username %> ]</a></small>
                <% end %>
                <small> &copy;2020 MagicEightBallv1 </small>

            </footer>

        </div>

    </body> 

</html>