<!DOCTYPE html>
    <head>
        <title> Magic Eight Ball v1 </title>
    </head>

    <body>
        <div>
          
            <%= yield %>

            <footer>
             <small>&copy; 2020 MagicEightBallv1 </small>
             <small><a href="/logout">LOG OUT</a><small>
            </footer>

        </div>

    </body> 

</html>